.history__container {
  width: 70%;
  margin: 40px auto;
  height: auto;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 10px;
}
.history__answer {
  display: flex;
  height: auto;
  margin-top: 20px;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.img {
  width: 400px;
}
.history__text {
  height: auto;
  width: 44%;
  padding-left: 10px;
  word-wrap: break-word;

}
.history__date {
  text-align: right;
}

@media (max-width: 840px) {
    .history__container {
      width: 75%;
      flex-direction: column;
    }
    .history__answer {
      flex-direction: column;
    }
  .img {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
  }
  .history__answer {
    margin-top: 0px;
  }
  .history__text {
    width: 90%;
    min-height: 50px;
    word-wrap: break-word;
    text-align: center;
  }
  }
