.wrapper {
  display: flex;
  width: 100%;
  height: 92vh;
}
.login {
  margin:auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 330px;
  height: 370px;
  font-family: Verdana, Geneva, sans-serif;
  color: black;
  font-size: 16px;
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: inset -1px 1px 31px rgba(255, 255, 255, 0.3), inset 1px 1px 0px rgba(255, 255, 255, 0.3);
      border: 1px solid #000;
  background-color:#00000012;
}
.login h2 {
    margin: .5em;
    color: black;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    font-weight: 900;
}
input {
  font-size: 130%;
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 45px;
  padding: .3em 20px .3em 40px;
  width: 270px;
  background: rgba(0, 0, 0, 0.3);
  border: 0;
  border-radius: 25px;
  box-shadow: 0 -1px 1px rgba(255, 255, 255, 0.8) inset;
  }
  .error {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
    color: aqua;
  }
.password__container {
  height: 45px;
  position: relative;
  width: 270px;
}
.password__container  button {
    background-image: linear-gradient(to bottom, #8ff704, #1c8700);
    border: 0;
    border-radius: 0 25px 25px 0;
    box-shadow: 0 5px 2px #a6ee40 inset, 1px 1px 0 rgba(0, 0, 0, 0.5);
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
    cursor: pointer;
    height: 43px;
    width: 65px;
    position: absolute;
    right: 1px;
    top: 1px;

}
.active2 {
  position:relative;
}
.rememder_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rememder {
  width: 80px;
  height: 26px;
  background: #333;
  margin: 20px auto;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}
.rememder::after {
  content: 'OFF';
 color: #000;
 position: absolute;
 right: 10px;
 z-index: 0;
 font: 12px/26px Arial, sans-serif;
 font-weight: bold;
 text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}
.rememder::before {
    content: 'ON';
    color: #fefefe;
    position: absolute;
    left: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
  }
.rememder label {
  display: block;
  width: 34px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
  background: #fcfff4;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  transition: all 0.4s ease;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}
input[type=checkbox] {
  visibility: hidden;
}
input[type=checkbox]:checked + label {
  left: 43px;
}

.extra {
  width: 100%;
  border-top: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.extra a {
  text-decoration: none;
  color: #257bd4;
  line-height: 45px;
  text-align: left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
