*{
  margin: 0;
  padding: 0;
}
.body {
  background-image: url(../img/backgr_first_page.jpg);
  background-position: center;
  background-size: contain;
    width: 100%;  height: 100vh;
    z-index: 23;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
}
.body__container {
  max-width: 1270px;
  position: relative;
  margin: 90px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.body::before {
  content: '';
  position: absolute;
  background-image: url(../img/kosmos.jpg);
  background-position: center;
  background-size: contain;
  opacity: 0.6;
  width: 100%;
  z-index: 0;
  height: 100%;
}
.body__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #c1c1c1;
}
.body__logo_color {
  display: flex;
  flex-direction: row;
}
 .logo_active {
  color: white;
}
.body__logo {
  font-size: 35px;
  width: 200px;
  height: 120px;
  user-select: none;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: 545;
}
.body__name {
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, sans-serif;
  align-items: center;
}
.body__name h1 {
  color: #fefefe;
  margin-bottom: 20px;
}
.body__name h3 {
  color: #fefefe;
  font-size: 60px;
}
.body__name .change_color {
  color: #2ba2e2;
}
.container__arrow {
  width: 100px;
  position: relative;
  height: 80px;
  display: flex;
  justify-content: center;
}
.container__arrow img {
  width: 50px;
  height: 50px;
  position: absolute;
  animation: arrows 1.5s ease-in-out infinite;
  }
@keyframes arrows {
   0% { top:50%; }
  50% { top: 100%;}
  100% { top:50%; }
  }
.container__button {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.container__button h4 {
    color: #fefefe;
    font-size: 20px;
}

.container__button .button {
  width: 400px;
  background: none;
  color: white;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s;
}
.button:hover {
  transition: 0.2s;
  transform: scale(1.1);
    color: white;
    font-size: 20px;
}
@media (max-width: 870px) {
  .body {
    height: auto;
  }

  }
 @media (max-width: 764px) {
   .body__name h1, h3 {
     text-align: center;
   }
   .container__button h4 {
     text-align: center;
   }
  .container__button .button {
       width: 200px;
   }
 }
  @media (max-width: 430px) {
  .container__button   .button {
        width: 100%;
        border-radius: 10px;
    }
    .body {
      height: 100vh;
        min-height: 653px;
    }
    .body__name h1 {
     font-size: 30px;
    }
    .body__container {
      height: 90vh;
      min-height: 653px;
      margin: auto;
      justify-content: flex-end;
    }
    .body__logo {
      display: none;
    }
  }

  @media (max-width: 340px) {
    .body__name h1 {
     font-size: 25px;
    }
    .body__name h3 {
     font-size: 35px;
    }
    @keyframes arrows {
       0% { top:0%; }
      50% { top: 50%;}
      100% { top:0%; }
      }
  }
